<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ColorizeOutput.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <applicationSettings>
    <ColorizeOutput.Properties.Settings>
      <setting name="RegistryPath" serializeAs="String">
        <value>a</value>
      </setting>
      <setting name="BuildHead" serializeAs="String">
        <value>BuildHead</value>
      </setting>
      <setting name="BuildText" serializeAs="String">
        <value>BuildText</value>
      </setting>
      <setting name="LogInfo" serializeAs="String">
        <value>LogInformation</value>
      </setting>
      <setting name="LogWarn" serializeAs="String">
        <value>LogWarning</value>
      </setting>
      <setting name="LogError" serializeAs="String">
        <value>LogError</value>
      </setting>
      <setting name="LogCustom1" serializeAs="String">
        <value>LogCustom1</value>
      </setting>
      <setting name="LogCustom2" serializeAs="String">
        <value>LogCustom2</value>
      </setting>
      <setting name="LogCustom3" serializeAs="String">
        <value>LogCustom3</value>
      </setting>
      <setting name="LogCustom4" serializeAs="String">
        <value>LogCustom4</value>
      </setting>
      <setting name="FindResultsSearchTerm" serializeAs="String">
        <value>FindResultsSearchTerm</value>
      </setting>
      <setting name="FindResultsFilename" serializeAs="String">
        <value>FindResultsFilename</value>
      </setting>
      <setting name="FindResultsSearchTermProxy" serializeAs="String">
        <value>FindResultsSearchTermProxy</value>
      </setting>
      <setting name="FindResultsFilenameProxy" serializeAs="String">
        <value>FindResultsFilenameProxy</value>
      </setting>
    </ColorizeOutput.Properties.Settings>
  </applicationSettings>
</configuration>
